ETHEREUM_ARCHIVE_RPC=
ETHERSCAN_API_KEY=
ETHERSCAN_TRUST_ENV=false
ETHERSCAN_PROXY=socks5h://127.0.0.1:7890
USE_ETHERSCAN=true

RERUN_ALL_AGENT=false
RERUN_REPUTATION=false
RERUN_TRANSACTION=false
TARGET_AGENT_ID_MIN=0
TARGET_AGENT_ID_MAX=999999
TARGET_AGENT_COUNT=999999
TOP_AGENT_COUNT=150
